@layer color {
	:root {
		--background: hsl(45 30% 96%);
		--foreground: hsl(30 10% 15%);

		--primary: hsl(30 10% 15%);
		--text-primary: hsl(45 30% 96%);

		--secondary: hsl(40 20% 92%);
		--text-secondary: hsl(30 10% 15%);

		--muted: hsl(45 30% 96%);
		--text-muted: hsl(30 8% 45%);

		--accent: hsl(30 10% 15%);
		--text-accent: hsl(45 30% 96%);

		--border: hsl(35 15% 88%);
	}


	@media only screen and (prefers-color-scheme: dark) {
		:root {
			--background: hsl(30 10% 8%);
			--foreground: hsl(45 20% 97%);

			--primary: hsl(45 20% 92%);
			--text-primary: hsl(30 10% 8%);

			--secondary: hsl(30 8% 15%);
			--text-secondary: hsl(45 20% 92%);

			--muted: hsl(30 10% 8%);
			--text-muted: hsl(40 10% 55%);

			--accent: hsl(45 20% 92%);
			--text-accent: hsl(30 10% 8%);

			--border: hsl(30 8% 20%);
		}
	}
}
